<div class="container py-4">
	<div class="row text-center">
		<div class="col">
			<h1 class="word-rotator-title mb-2">
				Gravomar is beautiful and fully responsive.
			</h1>
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
			</p>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-lg-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="fa fa-film"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="heading-primary mb-1">Customer Support</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="fa fa-film"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="heading-primary mb-1">Sliders</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="fa fa-bars"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="heading-primary mb-1">Buttons</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-lg-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="fa fa-file"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="heading-primary mb-1">HTML5 / CSS3 / JS</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="fa fa-check"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="heading-primary mb-1">Icons</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="feature-box">
				<div class="feature-box-icon">
					<i class="fa fa-desktop"></i>
				</div>
				<div class="feature-box-info">
					<h4 class="heading-primary mb-1">Lightbox</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section section-default">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="mt-4">Premium <strong>Features</strong></h2>
				<p class="lead">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci.
				</p>
				<p class="mt-4">
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis, eu hendrerit enim scel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis, eu hendrerit enim scel.
				</p>
			</div>
			<div class="col-lg-6 mt-4">
				<img class="img-fluid" src="/device.png" data-appear-animation="fadeInRight" alt="">
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="featured-boxes">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="featured-box featured-box-primary featured-box-effect-1">
					<div class="box-content">
						<h4 class="text-uppercase">Loved Customers</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
						<p><a href="/" class="lnk-primary learn-more">Learn More <i class="fa fa-angle-right"></i></a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="featured-box featured-box-secondary featured-box-effect-1">
					<div class="box-content">
						<h4 class="text-uppercase">Well Documented</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
						<p><a href="/" class="lnk-secondary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="featured-box featured-box-tertiary featured-box-effect-1">
					<div class="box-content">
						<h4 class="text-uppercase">Winner</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
						<p><a href="/" class="lnk-tertiary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="featured-box featured-box-quaternary featured-box-effect-1">
					<div class="box-content">
						<h4 class="text-uppercase">Customizable</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
						<p><a href="/" class="lnk-quaternary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
		
			