<div class="container-fluid py-3">
  <div class="row">
  	  <div class="loginmodal-container">
  		<div class="loginmodal-container-2">
            <h1>Editar Artigos</h1>

            <%= render 'form', product: @product %>
      <center><%= link_to 'Consultar', @product, class:"btn btn-primary btn-sm" %>
      <%= link_to 'Voltar', products_path, class:"btn btn-primary btn-sm" %></center>
        </div> 
      </div> 
  </div>
</div>